* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.hero {
    width: 1920px;
    height: 945px;
    margin: auto;
    background: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)), url(../img/image.png) center/cover no-repeat;
}
.div1 {
    width: 1920px;
    height: 104px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div2 {
    width: 995px;
    height: 26px;
    display: flex;
    color: white;
}
.div2 i {
    margin-top: 3px;
}
.div3 {
    width: 580px;
    height: 46px;
    display: flex;
    color: white;
    
}
.div3 ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.div3 ul li {
    display: flex;
    align-items: center;
}
.div3 ul li a {
    color: white;
}
.div4 {
    width: 153px;
    height: 48px;
    border-radius: 46px;
    border: 2px solid green;
    background-color: white;
    
}
.div4 b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1 {
    width: 330px;
    height: 30px;
    margin: auto;
    margin-top: 250px;
    font-size: 18px;
    color: aliceblue;
}
.let{
    width: 723px;
    height: 70px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    color: aliceblue;
}
.let1 {
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    font-size: 20px;
}
.let2 {
    width: 930px;
    height: 76px;
    border: 1px solid red;
    color: aliceblue;
    display: flex;
}
.bir {
    width: 225px;
    height: 36px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ikki {
    width: 75px;
    height: 36px;
    border: 1px solid green;
}
.uch {
    width: 154px;
    height: 36px;
    border: 1px solid green;
}
.tort {
    width: 215px;
    height: 55px;
    border: 1px solid green;
}
.tort button {
    width: 215px;
    height: 55px;
}